
  <h2><%= golfer.first_name + " " + golfer.last_name %>'s Information</h2>

    <div id="content2">

      <form action="/golfer/update/<%= golfer.id %>" method="POST">

        <h3>First Name:</h3><input style="margin-left: 10%" value="<%= golfer.first_name %>" type="text" name="name"> <br/>
        <h3>Last Name:</h3><input style="margin-left: 10%" value="<%= golfer.last_name %>" type="text" name="name"> <br/>
        <h3>Nickname:</h3><input style="margin-left: 10%" value="<%= golfer.nickname%>" type="text" name="nickname"> <br/>
        <br>
        <input style="margin-left: 10%" type="submit" value="Update Golfer"/>

      </form>



    </div>
