
  <br>

  <h1>Comprehensive Profile Listing:</h1>

    <div id="tables">

      <table>

        <tr>
          <th>Golfer ID</th>
          <th>Golfer Name</th>
          <th>Nickname</th>
          <th>Score Average</th>
          <th>Handicap</th>
        </tr>

        <% _.each(golfers, function(golfer) { %>
        <tr data-id="<%= golfer.id %>" data-model="golfer">
          <td><%= golfer.id %></td>
          <td><%= golfer.first_name + " " + golfer.last_name%></td>
          <td><%= golfer.nickname %></td>
          <td><%= golfer.score_average%></td>
          <td><%= golfer.handicap %></td>

          <td id="special"><a href="/golfer/show/<%= golfer.id %>">Player Profile</a></td>
        </tr>
        <% })%>
      </table>


    </div>


