
  <br>

  <a class="btn btn-success" style="margin-right: 35%; margin-top: 1%; float: right; padding: 8px;" href="/golfer/stats/<%= golfer.id %>">Player Statistics</a>

  <h1><%=golfer.first_name + " " +  golfer.last_name%>'s Player Profile:</h1>

    <div id="content3">

      <h2>Name:</h2><p id="roundShow"><%= golfer.first_name + " " + golfer.last_name %> | <%= golfer.nickname %> </p>
      <h2>Scoring Average:</h2><p id="roundShow"><%= golfer.average_strokes %> </p>
      <h2>Handicap:</h2><p id="roundShow"><%= golfer.handicap %> </p>

      <br>

      <td id="special"><a style="margin-left: 10%;" href="/golfer/edit/<%= golfer.id %>">Edit Golfer</a></td> |

      <td id="special"><a href="/golfer/destroy/<%= golfer.id %>">Delete Golfer</a></td> |

      <form style="margin-left: 250px;" action="/round/new" method="POST" >
        <input type="hidden" name="owner" value="<%= golfer.id %>">
        <input type="submit" value="Add New Round" />
      </form>

    </div>

  <br>

  <i><h2><%=golfer.first_name %>'s Played Rounds: </h2></i>

  <div id="tables2">

    <table>
      <tr>
        <th>Course</th>
        <th>Dates</th>
        <th>Holes Played</th>
        <th>Total Score</th>
        <th>Relation to Par</th>
        <th>Putts</th>
        <th>Greens in Regulation</th>
      </tr>

      <% _.each(golfer.rounds, function(round) { %>
      <tr data-id="<%= round.id %>" data-model="round" >
        <td><%= round.location %></td>
        <td><%= round.date %></td>
        <td><%= round.holes_played %></td>
        <td><%= round.total_score %></td>
        <td><%= round.relation_to_par %></td>
        <td><%= round.putts %></td>
        <td><%= round.greens %></td>

        <td id="special2"><a href="/round/show/<%= round.id %>">Details</a></td>
        <td id="special2"><a href="/round/edit/<%= round.id %>">Edit</a></td>
        <td id="special2"><a href="/round/destroy/<%= round.id %>">Delete</a></td>
      </tr>
      <% }); %>
    </table>

    </div>


