
  <br>

  <h1>Golfer Information:</h1>

    <div id="content3">

      <h1> <%= golfer.first_name + " " + golfer.last_name %> | <%= golfer.nickname %></h1>
      <h1>Score Average: <%= golfer.score_average %></h1>
      <h1>Handicap:  <%= golfer.handicap %></h1>

      <br>

      <td id="special"><a style="margin-left: 5%" href="/golfer/edit/<%= golfer.id %>">Edit Golfer</a></td> |

      <td id="special"><a href="/golfer/destroy/<%= golfer.id %>">Delete Golfer</a></td> |

      <td>
        <a class="btn btn-success" style="margin-left: 100px; padding: 10px;" href="/course/new?contID=<%=golfer.id%>">Enter New Round!</a>
      </td>

    </div>
