

  <h2><%= course.name%>'s Information</h2>

    <div id="content2">

      <form action="/course/update/<%= course.id %>" method="POST">

        <h3>Course Name:</h3><input style="margin-left: 10%" value="<%= course.name %>" type="text" name="name"> <br/>
        <h3>City:</h3><input style="margin-left: 10%" value="<%= course.city%>" type="text" name="city"> <br/>
        <h3>State:</h3><input style="margin-left: 10%" value="<%= course.state%>" type="text" name="state"> <br/>
        <h3>Zip Code:</h3><input style="margin-left: 10%" value="<%= course.zip%>" type="text" name="zip"> <br/>
        <h3>Course Par:</h3><input style="margin-left: 10%" value="<%= course.total_par%>" type="text" name="total_par"> <br/>
        <h3>Front Nine Par:</h3><input style="margin-left: 10%" value="<%= course.front_par%>" type="text" name="front_par"> <br/>
        <h3>Back Nine Par:</h3><input style="margin-left: 10%" value="<%= course.back_par%>" type="text" name="back_par"> <br/>
        <h3>Yardage:</h3><input style="margin-left: 10%" value="<%= course.yardage%>" type="text" name="yardage"> <br/>
        <h3>Description:</h3><input style="margin-left: 10%" value="<%= course.description%>" type="text" name="description"> <br/>
        <br>
        <input style="margin-left: 10%" type="submit" value="Update Course"/>

      </form>


    </div>
