

  <br>

  <h1>Comprehensive Course Listing:</h1>

    <div id="tables3">

      <table>

        <tr>
          <th>Course Name</th>
          <th>City</th>
          <th>State</th>
          <th>Course Par</th>
          <th>Front Nine Par</th>
          <th>Back Nine Par</th>
          <th>Yardage</th>
        </tr>

        <% _.each(courses, function(course) { %>
        <tr data-id="<%= course.id %>" data-model="course">
          <td><%= course.name%></td>
          <td><%= course.city %></td>
          <td><%= course.state%></td>
          <td><%= course.total_par %></td>
          <td><%= course.front_par %></td>
          <td><%= course.back_par %></td>
          <td><%= course.yardage%></td>

          <td id="special"><a href="/course/show/<%= course.id %>">Course Info</a></td>

        </tr>
        <% })%>
      </table>

  </div>
