

  <br>

  <a class="btn btn-success" style="margin-right: 20%; margin-top: 1%; float: right; padding: 8px;" href="/course/">Return to Course Listing</a>

  <h1>Course Information:</h1>

    <div id="content3">

      <h2>Name of Course:</h2><p id="roundShow"><%= course.name %> </p>
      <h2>Address:</h2><p id="roundShow"><%= course.city %>, <%= course.state %> <%= course.zip %> </p>
      <h2>Course Par:</h2><p id="roundShow"><%= course.total_par %> </p>
      <h2>Front Nine Par:</h2><p id="roundShow"><%= course.front_par %> </p>
      <h2>Back Nine Par:</h2><p id="roundShow"><%= course.back_par %> </p>
      <h2>Course Yardage:</h2><p id="roundShow"><%= course.yardage %> </p>
      <h2>Course Description:</h2><p id="roundShow"><%= course.description %> </p>

      <br>

      <td id="special"><a style="margin-left: 10%" href="/course/edit/<%= course.id %>">Edit Course</a></td> |

      <td id="special"><a href="/course/destroy/<%= course.id %>">Delete Course</a></td> |

    </div>
